body{
    margin: 0px;
    padding: 0px;
}
img{
    cursor: pointer;
}
#hide{
    display: none;
}
#container{
    padding: 0px 10% 5% 10%;
    text-align: center;
}
.logo img{
    margin: auto;
    width: 40%;
}
input{
    width: 100%;
    height: 50px;
    margin: 10px 0px;
    box-shadow: 1px 1px 2px 0px #808080ba;
    border: none;
    font-size: medium;
    background-color: rgba(192, 189, 189, 0.277);
}
input:focus{
    outline: none;
    font-size: 17px;
}
.login{
    width: 100%;
    background-color: #2d87ff;
    color: white;
    font-size: medium;
    font-weight: bold;
    margin: 8px 0px;
    height: 45px;
    cursor: pointer;
    border: none;
}
p a{
    text-decoration: none;
    color: rgba(65, 65, 187, 0.9518);
    font-weight: 400;
}
.or-line{
    display: flex;
    align-items: center;
    font-size: medium;
}
.or-line hr{
    width: 40%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.473);
}

.create-account{
    background-color: #30a24b;
    width: 100%;
    color: white;
    font-size: medium;
    font-weight: bold;
    height: 45px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}
.second-container{
    width: 95%;
    margin: auto;
    position: relative;
}
.cover-image img{
    width: 100%;

}
profile-image{
    width: 100%;
}
.profile-image img{
    width: 31.5%;
    border: 4px solid #242527;
    height: 47%;
    border-radius: 50%;
    position: absolute;
    top: 57%;
    left: 35%;
}
#profile-info{
    position: relative;
    top: 30px;
    text-align: center;
}
.prop button{
    font-size: 16px;
    font-weight: bold;
    padding: 8px 13px;
    margin: 0px 5px;
    border: none;
    border-radius: 6px;
    color: white;
}
#story{
    background-color: #1a74e4;
}
#edit-profile, #dot-button{
    background-color: #525457ab;
}
#about-info{
    margin-top: 45px;
}
.prop-info{
    display: flex;
}
.prop-info img{
    width: 30px;
    height: 30px;
}
.prop-info img, p{
    margin: 15px;
}
.bold{
    font-weight: bold;
    font-size: 18px;
}
#friends{
    padding: 7px;
}
.friend-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.light{
    font-weight: 300;
}
.friend-button a{
    text-decoration: none;
    font-size: 17px;
}
.friend-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.friend-list img{
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 15px;
}
.photos-btn{
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: space-around;
    background-color: #e5e6eb;
    width: 66px;
    padding: 5px 15px;
    height: 30px;
    border-radius: 15px;
}
.line{
    height: 3px;
    width: 100%;
    margin: 7px auto;
    background-color: #bcbfc4;
}
.photos-btn{
    cursor: pointer;
}
.photos-btn img{
    width: 40%;
    padding-right: 5px;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
}
.upload h3{
    margin-left: 18px;
}
.flex input{
    background-color: #bcbfc41a;
    border-radius: 30px;
    padding: 6px 7px ;
    height: 30px;
    width: 60%;
}
.flex img{
    width: 45px;
    height: 36px;
}
.img-profile{
    border-radius: 50%;
}
.secondary-flex{
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.secondary-flex img{
    width: 30px;
    height: 20px;
}
#vertical-line{
    border-right:2px solid #525457ab;
    padding: 0px 10px;
    height: 20px;
    border-left:2px solid #525457ab;
}
.posts{
    text-align: center;
    margin: 10px 0px;
}
.post-image{
    width: 80%;
    border-radius: 10px;
    margin: 20px 0px;
}
.third-flex{
    display: flex;
    align-items: baseline;
}
.reaction{
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 45px;
    background-color: #bcbfc4bb;
}
.reaction img{
    width: 20px;
}
/* Media Query */
@media only screen and (min-width: 768px){
    #container{
        width: 500px;
        margin: auto;
        border-radius: 30px;
        background-color: rgba(221, 203, 203, 0.212);
    }
    .second-container{
        width: 85%;
    }
    #about-info{
        display: flex;
        align-items: center;
        width: 85%;
        margin: 50px auto;
    }
    .flex input{
        background-color: #bcbfc41a;
        border-radius: 30px;
        padding: 6px 7px ;
        height: 60px;
        width: 60%;
    }
    .flex img{
        width: 80px;
        height: 60px;
    }
    .secondary-flex img{
        width: 20px;
        height: 20px;
    }
    .reaction{
        width: 140px;
        border-radius: 20px;
        height: 65px;
        background-color: #bcbfc4bb;
    }
    .reaction img{
        width: 50px;
    }
}